body {
  padding: 0px;
  margin: 0px;
  top: 0;

}

/*MODAL*/



.modal-content {
  height: 30%;
  margin-top: 200px;
  border-radius: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}


button.close {
  opacity: 1;
  margin-top: -35px;
  margin-right: -43px;
  background: #1bca6d;
  color: white;
  width: 40px;
  height: 40px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 30px;
  padding: 0;
  padding-bottom: 5px;
}

button.close:hover {
  opacity: 1;
  color: white;
}

.modal-header {
  text-align: center;
  color: #e94cba;
  font-family: "Open Sans Condensed";
  border-bottom: 0;
}

.modal-header > h4 {
  font-weight: lighter;
  font-size: 24px;
}

/*DIVS*/

#top-tagline {
  margin: 0;
}

.icon-title {
  margin: 0;
}

.fullpage-div {
  background: black;
}

.icon-div {
  /*display: inline-block;
  padding: 15px;*/
  /*width: 45%;*/
  padding: 15px;
  text-align: center;
  height: 300px;
}


#whats-going-on {
  background: white;
  padding: 15px;
  text-align: center;
}

#top-div {
  background: red;
  padding: 15px;
  text-align: center;
}

#learn-more-div {
  background: orange;
  /*width: 80%;*/
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  padding-right: 10%;
}

#true-live-music {
  background: yellow;
}

#better-with-friends {
    background: green;
}

#bands-and-fans {
  background: blue;
}

#nothing-but-live {
  background: purple;
}

#bottom-request {
  background: pink;
  padding: 15px;
  text-align: center;
}

footer {
  background: aquamarine;
  color: red;
  padding: 10px;

}

#submit-button {
  border-style: none;
  margin-left: -4px;
  height: 30px;
  font-size: 1em;
}

#email-address {
  padding: 0;
  font-size: 1em;
  margin: 0;
  border-style: none;
  height: 30px;
}

#email {
  margin: 15px;
  padding: 0;
}
